body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;
}





/*Responsive styles for laptops and desktops*/
@media(min-width: 992px) {
    body {
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
}